html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.dmsans_font {
  font-family: "DM Sans", sans-serif;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mirrorY {
  transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -o-transform: scaleY(-1);
}

.mirrorX {
  transform: scaleY(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
}

.black-icon {
  filter: invert(1);
}

.bold_shadow {
  text-shadow: 0 5px 3px #000000;
}

.box_shadow {
  box-shadow: 0 5px 0 black;
}

.box_shadow2 {
  box-shadow: -3px 5px 0 black;
}

.thin_stroke {
  text-shadow: 0 2px 0 black;
}

li {
  list-style: none;
}

/* nav */

/* menu button */
.menu-button {
  display: none;
  overflow: hidden;

  height: 35px;
  width: 45px;

  position: relative;

  align-items: center;
}

.menu-button span {
  width: 100%;
  height: 3px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.menu-button span:nth-child(1) {
  top: 0;
}

.menu-button span:nth-child(2) {
  position: relative;
}

.menu-button span:nth-child(3) {
  bottom: 0;
}

.menu-button.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 1rem;
}

.menu-button.active span:nth-child(2) {
  width: 0%;
}

.menu-button.active span:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 1rem;
}

.btns .link {
  transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
}

.btns .link:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.link-hover {
  transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
}

.link-hover:hover {
  text-decoration: underline;
}

/* animation */
.float_animation {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

.stars-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.star {
  position: absolute;
  opacity: 0;
  animation: twinkle 2s infinite alternate;
}

/* Animasi opacity */
@keyframes twinkle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* media queries */
@media screen and (min-width: 1027px) {
  .menu_drop {
    display: none;
    position: absolute;
    z-index: -999;
    opacity: 0;
  }
}

@media screen and (max-width: 1027px) {
  .menu-button {
    display: flex;
    position: absolute;
    right: 0;
  }
}

@media screen and (max-width: 500px) {
  .menu-button {
    width: 27px;
    height: 23px;
  }

  .menu-button.active span:nth-child(1) {
    top: 0.6rem;
  }

  .menu-button.active span:nth-child(3) {
    bottom: 0.7rem;
  }
}



/* text slider */
.slide-container {
  overflow: hidden;  
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.wrapper {
  width: 100%;
  max-width: 2526px;
  margin: auto;
  height: 50px;
  position: relative;
  
}

.item {
  width: 200px;
  height: 100%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  position: absolute;
  left: calc(200px * 18);
  animation: scrollLeft 30s linear infinite;
  -webkit-animation: scrollLeft 30s linear infinite;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.item h4 {
  font-size: 1.7rem;
  text-transform: uppercase;
  animation: text_animation 1s ease-in-out infinite;
  font-weight: 800; 
}

.item:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.wrapper:hover .item {
  animation-play-state: paused;
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}